@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url("../fonts/RobotoSlab-Regular.ttf"); }
@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url("../fonts/RobotoSlab-Bold.ttf"); }
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.ttf"); }
@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold.ttf"); }
/*Montserrat-Bold.ttf*/
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%; }

h1 {
  font-size: 4.5em; }

h2 {
  font-size: 2.5em;
  font-family: 'Montserrat-Bold';
  padding: 0;
  margin: 0;
  text-align: center; }

h3 {
  font-family: 'Montserrat-Bold';
  font-size: 1.8em; }

p {
  font-size: 1.5em;
  font-family: 'RobotoSlab-Regular';
  text-align: center; }

.header {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 60px;
  width: 100%; }

.header-logo {
  width: 50%;
  margin-top: 15px;
  margin-left: 5%; }

.menu-hidden {
  display: none; }

.menu {
  display: block;
  background-color: #fff;
  height: 150px;
  width: 100%;
  text-align: center;
  z-index: 2;
  font-size: 1.8em;
  margin-top: 0;
  padding: 20px 0;
  list-style: none; }
  .menu__element {
    padding: 5px 0;
    /*&:nth-child(odd){
    	background-color: #eff5ee;
    }*/ }
    .menu__element:hover {
      cursor: pointer; }

.menu-button {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 40px;
  top: 12.5px;
  width: 40px;
  height: 35px;
  background-color: transparent;
  border: none; }
  .menu-button:hover {
    cursor: pointer; }
  .menu-button__line {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background-color: #777777; }
  .menu-button__line:nth-child(1) {
    top: 5px; }
  .menu-button__line:nth-child(2) {
    top: 15px; }
  .menu-button__line:nth-child(3) {
    top: 25px; }

/*============HOME SECTION==============*/
.home {
  min-height: 100vh;
  background: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1; }
  .home__heading {
    padding: 0;
    margin: 0;
    color: #fff;
    margin-top: 150px;
    text-align: center; }
  .home__sentence {
    color: #fff; }
  .home__btn {
    width: 200px;
    height: 60px;
    margin-top: 30px;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-family: 'Montserrat-Bold';
    background-color: #7cc576; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3%; }

/*================= SERVICES SECTION =================*/
.section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 5px; }
  .section-heading__subtitle {
    color: #777777; }

.services-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .services-block__paragraph {
    color: #777777; }

.person-image, .offer-left img {
  width: 50%; }

/*# sourceMappingURL=style.css.map */
