@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url("../../fonts/RobotoSlab-Regular.ttf"); }

@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url("../../fonts/RobotoSlab-Bold.ttf"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../../fonts/Montserrat-Regular.ttf"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../../fonts/Montserrat-Bold.ttf"); }

/*Montserrat-Bold.ttf*/
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%; }

h1, h2, h3 {
  color: #222222;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0; }

h2 {
  font-size: 2.5em;
  font-family: 'Montserrat-Bold';
  padding: 0;
  margin: 0; }

h3 {
  font-family: 'Montserrat-Bold';
  font-size: 1.5em; }

p {
  font-family: 'RobotoSlab-Regular';
  text-align: center;
  color: #777777; }

.title {
  font-family: 'Montserrat-Bold', 'RobotoSlab-Bold';
  padding-top: 50px;
  font-size: 2.5em; }

.subtitle {
  font-size: 16px;
  padding-bottom: 20px; }

.container {
  margin: 0 15px; }

.header {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 60px;
  width: 100%;
  z-index: 2; }

.header-logo {
  width: 50%;
  margin-top: 15px;
  margin-left: 5%; }

.menu-hidden {
  animation: menu-close 500ms ease-in-out forwards;
  display: none; }

.menu {
  position: absolute;
  background-color: #fff;
  height: 150px;
  width: 100%;
  text-align: center;
  z-index: 2;
  font-size: 1.8em;
  margin-top: 0;
  padding: 20px 0;
  list-style: none;
  animation: menu-open 500ms ease-in-out forwards; }
  .menu__element {
    padding: 5px 0;
    /*&:nth-child(odd){
			background-color: #eff5ee;
		}*/ }
    .menu__element:hover {
      cursor: pointer;
      background-color: #7cc576; }

.menu-button {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 40px;
  top: 12.5px;
  width: 40px;
  height: 35px;
  background-color: transparent;
  border: none; }
  .menu-button:hover {
    cursor: pointer; }
  .menu-button__line {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background-color: #777777; }
  .menu-button__line:nth-child(1) {
    top: 5px; }
  .menu-button__line:nth-child(2) {
    top: 15px; }
  .menu-button__line:nth-child(3) {
    top: 25px; }

@keyframes menu-open {
  0% {
    transform: rotateX(50deg) translateY(50px); }
  100% {
    transform: rotateY(0deg) translateX(0px); } }

@keyframes menu-close {
  0% {
    display: block;
    background-color: #fff;
    transform: rotateY(0deg) translateX(0px); }
  100% {
    background-color: #fff;
    transform: rotateY(-90deg) translateY(50px); } }

.home {
  min-height: 100vh;
  background: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1; }

.home__title {
  font-size: 4.5em;
  letter-spacing: 1.5px;
  padding: 0;
  margin: 0;
  color: #fff;
  margin-top: 150px;
  text-align: center; }

.home__subtitle {
  color: #fff; }

.home__button {
  width: 200px;
  height: 60px;
  margin-top: 30px;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-family: 'Montserrat-Bold';
  background-color: #7cc576; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3%; }

.services {
  padding-bottom: 30px; }

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px; }
  .services-item__title {
    font-size: 16px;
    margin: 5px 0; }
  .services-item__text {
    font-size: 12px;
    margin: 0;
    padding: 0; }

.offer {
  height: 600px;
  background: url("../img/bg_learn_more.jpg");
  background-size: cover;
  color: #CCCCCC; }
  .offer__title {
    color: #fff;
    padding-top: 70px; }
  .offer__title-sign {
    padding-left: 10px;
    color: #7cc576; }
  .offer__subtitle {
    font-size: 14px;
    color: #cccccc;
    margin-bottom: 0; }

.offer-space {
  display: none; }

.offer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .offer-main__btn {
    width: 160px;
    height: 60px;
    margin-top: 30px;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-family: 'Montserrat-Bold';
    background-color: #7cc576; }

.offer-list {
  font-size: 1.4em;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #cccccc; }
  .offer-list__element {
    height: 50px;
    line-height: 50px; }
  .offer-list__element:before {
    content: url("../img/check.png");
    /* with class ModalCarrot ??*/
    position: relative;
    top: 10px;
    left: -10px; }

.project-main {
  padding-bottom: 50px; }
  .project-main__subtitle {
    padding-bottom: 20px;
    font-size: 14px; }
  .project-main__link {
    text-decoration: none;
    color: #7cc576;
    font-family: 'RobotoSlab-Bold';
    font-size: 1.4em;
    margin-top: 40px;
    position: relative; }
  .project-main__link::after {
    content: url(../img/Arrow.png);
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    right: -30px; }

.project-list {
  margin: 30px 0; }

.project-item {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 30px;
  max-width: 500px; }
  .project-item__icon {
    width: 60px;
    height: 60px; }
  .project-item__title {
    margin: 0;
    font-size: 1.6em; }
  .project-item__subtitle {
    font-size: 1.4em;
    margin: 0; }

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5px; }

.values {
  background-color: #f9f9f9; }

.values-main {
  padding-bottom: 20px; }

.values-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; }
  .values-item__img {
    width: 70px;
    height: 70px; }
  .values-item__title {
    font-size: 16px;
    padding-top: 10px; }
  .values-item__subtitle {
    margin: 0;
    padding: 10px 0;
    font-size: 12px; }

.clients-main {
  padding-bottom: 50px; }

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.person-s-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../img/woman.jpg);
  background-position: center;
  background-size: cover;
  background-color: black; }

.person-first-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(../img/man.jpeg);
  background-position: center;
  background-size: cover; }

.person-opinion {
  width: 90%;
  background-color: #f9f9f9;
  margin-bottom: 30px;
  margin-top: 15px;
  position: relative;
  padding: 10px; }
  .person-opinion::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #f9f9f9;
    position: absolute;
    left: 50%;
    top: -5px;
    transform: translateX(-50%) translateY(-50%); }
  .person-opinion__sentence {
    font-size: 1.6em;
    margin-bottom: 5px; }
  .person-opinion__name {
    color: #7cc576;
    margin-bottom: 20px; }

.contact {
  height: 200px;
  background-color: #7cc576;
  color: #fff;
  padding-bottom: 50px; }
  .contact__title {
    color: #fff; }
  .contact__button {
    height: 40px;
    width: 150px;
    background-color: transparent;
    font-size: 'Montserrat-Regular';
    border: 3px solid #fff;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px; }
    .contact__button:hover {
      cursor: pointer;
      background-color: #222222; }

.logo {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .logo__image {
    margin: 20px 0; }

.infos {
  background-color: #222222;
  padding-top: 30px;
  padding-bottom: 10px; }

.infos-block {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 20px; }
  .infos-block__title {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #fff; }

.infos-item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  .infos-item__text {
    width: 90%;
    color: #fff;
    text-align: left;
    margin: 0 20px; }
  .infos-item__icon {
    width: 20px;
    height: 100%; }

.tweet-time {
  font-size: 1.1em;
  padding: 0;
  margin: 0;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px; }

.infos-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start; }

.footer {
  padding-top: 20px;
  padding-bottom: 30px; }

.footer-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }

.social-link {
  width: 40px;
  height: 40px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px; }
