@import 'variables.scss';
@import 'mixins.scss';

@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url("../fonts/RobotoSlab-Regular.ttf");
}
@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url("../fonts/RobotoSlab-Bold.ttf");
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-Bold.ttf");
}
/*Montserrat-Bold.ttf*/

body{
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}
h1,h2,h3,h4{
	color: #222222;
	text-align: center;
	text-transform: uppercase;
	padding: 0;
    margin: 0;
}
h1{
	font-size: 4.5em;
}
h2{
  	font-size: 2.6em;
  	font-family: 'Montserrat-Bold';
  	padding: 0;
    margin: 0;
 
}
h3{
    font-family: 'Montserrat-Bold';
    font-size: 1.5em;
}
p{
	font-size: 1.5em;
	font-family: 'RobotoSlab-Regular';
    text-align: center;
	color: $dark-grey;
}

.header{
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	background-color: #fff;
	height: 60px;
	width: 100%;
}
.header-logo{
	width: 50%;
	margin-top: 15px;
	margin-left: 5%;
}
.menu-hidden{
	display: none;
}
.menu{
	display: block;
	background-color: #fff;
	height: 150px;
	width: 100%;
	text-align: center;
	z-index: 2;
	font-size: 1.8em;
	margin-top: 0;
	padding: 20px 0;
	list-style: none;
	
	&__element{
		padding: 5px 0;
		&:hover{
			cursor: pointer;
			background-color: $light-green;
		}
		/*&:nth-child(odd){
			background-color: #eff5ee;
		}*/

	}
}
.menu-button{
	position: absolute;
	margin: 0;
	padding: 0;
	right: 40px;
	top: 12.5px;
	width: 40px;
	height: 35px;
	background-color: transparent;
	border: none;

	&:hover{
		cursor: pointer;
	}


	&__line{
		display: block;
		position: absolute;
		width: 100%;
		height: 5px;
		border-radius: 3px;
		background-color: $dark-grey;
	}

	&__line:nth-child(1){
		top: 5px;
	}
	&__line:nth-child(2){
		top: 15px;
	}
	&__line:nth-child(3){
		top: 25px;
	}
}
/*==========TO ALL SECTIONS============*/
.section-heading{
	@include flex_col();
  	 padding: 40px 5px 30px;
	//background-color: #ffb9fa;
	
	  &__title{

	  }
	  &__subtitle{
		color: $dark-grey;
	  }
}

/*============HOME SECTION==============*/
.home{
	min-height: 100vh;
	background: url(../img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
	&__heading{
		padding: 0;
		margin: 0;
		color: #fff;
		margin-top: 150px;
		text-align: center;
	}
	&__sentence{
		color: #fff;
	}
	&__button{
		/*width: 200px;
		height: 60px;
		margin-top: 30px;
		border-radius: 30px;
		border: none;
		color: #fff;
		font-family:  'Montserrat-Bold';
		background-color: $light-green;*/
		@include green_btn(200px);
}
	}
.container{
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	padding: 0 3%;
}

/*======== SERVICES SECTION =========*/
.services-block{
	@include flex_col();
	

	&__icon{
		margin-bottom: 15px;
	}
	
    &__paragraph{
		padding: 0 10px;
    	margin-bottom: 30px;
    }
}

/*===========OFFER SECTION=============*/
.offer{
	height: 650px;
	background: url('../img/bg_learn_more.jpg');
	background-size: cover;
	color: #CCCCCC;
	
	&__paragraph{
		color: #CCCCCC;
	}
	
	&__button{
		@include green_btn(160px);
	}
		
}
.offer-space{
	display: none;
}
.offer-main{
	@include flex_col();
}
.offer-heading{
	margin-top: 100px;
	color: #fff;
	//text-align: left;
	//padding: 20px;
	
	&__sign{
		padding-left: 10px;
		color: $light-green;
	}
}
.offer-list{
	font-size: 1.5em;
	list-style: none;
	padding: 0;
	//margin-left: 20%;
	
	
	&__element{
		height: 50px;
		line-height: 50px;
		

	}
	&__element:before{
		content:url('../img/check.png'); /* with class ModalCarrot ??*/
  		position:relative; 
		top:10px;
		left: -10px;
	}
}
/*===========PROJECT SECTION=========*/

/*.project-list>div:nth-child(1){
	//background-color: black;

}*/
.project{
	height: 800px;
	
}
.project-list-element{
//	background-color: #d4d0d0;
	@include flex_row();
	
	&__img{
		background-color: pink;
		width: 65px;
		height: 65px;
	}
	&__heading{
		
	}
	&__paragraph{
		//background-color: aquamarine;
	}
}

.text-wrapper{
	padding-top: 15px;
	@include flex_col();
	//background-color: red;
	width: 100%
	
}

.project-link{
	text-decoration: none;
	color: $light-green;
	font-family: 'RobotoSlab-Bold';
	font-size: 1.2em;	
	
	&__img{
		padding-left: 5px;
	}
}





.person-image, .offer-left img{
	width: 50%;

}
