@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url("../../fonts/RobotoSlab-Regular.ttf"); }

@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url("../../fonts/RobotoSlab-Bold.ttf"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../../fonts/Montserrat-Regular.ttf"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../../fonts/Montserrat-Bold.ttf"); }

/*Montserrat-Bold.ttf*/
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%; }

h1, h2, h3 {
  color: #222222;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0; }

p {
  font-family: 'RobotoSlab-Regular';
  text-align: center;
  color: #777777; }

.title {
  font-family: 'Montserrat-Bold', 'RobotoSlab-Bold';
  /*padding-top: 50px;*/
  font-size: 3.4em; }
  @media (min-width: 768px) {
    .title {
      font-size: 3.7em; } }
  @media (min-width: 992px) {
    .title {
      font-size: 4em; } }

.subtitle {
  font-size: 1.6em;
  margin-bottom: 70px; }
  @media (min-width: 768px) {
    .subtitle {
      font-size: 1.8em; } }
  @media (min-width: 992px) {
    .subtitle {
      font-size: 2em; } }

a:focus {
  outline: 2px solid blue; }

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-top: 80px;
  padding-bottom: 90px;
  padding-left: 30px; }
  @media (min-width: 768px) {
    .container {
      width: 80%; } }
  @media (min-width: 992px) {
    .container {
      width: 65%; } }

.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  background-color: #fff;
  height: 60px;
  width: 100%;
  top: 0;
  z-index: 99; }
  @media (min-width: 992px) {
    .header {
      height: 80px; } }

.logo {
  width: auto;
  margin: auto;
  margin-left: 10%; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  justify-content: flex-end; }

.menu {
  display: none;
  opacity: 0; }
  @media (min-width: 992px) {
    .menu {
      opacity: 1;
      display: flex;
      color: #000;
      justify-content: center;
      list-style: none;
      align-content: center;
      width: 65%;
      height: auto;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 2%;
      font-family: 'Montserrat-Bold';
      font-size: 1.2em; } }
  .menu__element {
    margin-right: 5px; }
    .menu__element:hover {
      cursor: pointer;
      /*background-color: $light-green;*/ }
    .menu__element-link {
      text-decoration: none;
      color: #777777; }
    @media (min-width: 992px) {
      .menu__element {
        font-size: 1.1em;
        color: #777777;
        width: 100%;
        text-align: center; } }

.menu-opened {
  list-style: none;
  position: absolute;
  background-color: #fff;
  height: 300px;
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  top: 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Montserrat-Bold';
  opacity: 1;
  z-index: 1;
  animation: menu-open .5s ease-in; }

.menu-button {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 40px;
  vertical-align: middle;
  top: 12.5px;
  width: 40px;
  height: 35px;
  background-color: transparent;
  border: none; }
  .menu-button:hover {
    cursor: pointer; }
  @media (min-width: 992px) {
    .menu-button {
      display: none; } }
  .menu-button__line {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background-color: #777777; }
  .menu-button__line:nth-child(1) {
    top: 5px; }
  .menu-button__line:nth-child(2) {
    top: 15px; }
  .menu-button__line:nth-child(3) {
    top: 25px; }

@keyframes menu-open {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.home {
  height: 100vh;
  background: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1; }
  @media (min-width: 992px) {
    .home {
      height: 700px; } }
  .home__title {
    font-size: 4.5em;
    letter-spacing: 1.5px;
    padding: 0;
    margin: 0;
    color: #fff;
    text-align: center; }
    @media (min-width: 768px) {
      .home__title {
        font-size: 5.5em;
        width: 70%; } }
  .home__subtitle {
    color: #fff; }
    @media (min-width: 768px) {
      .home__subtitle {
        font-size: 1.8em; } }
  .home__button {
    width: 200px;
    height: 60px;
    margin-top: 20px;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-size: 1.3em;
    font-family: 'Montserrat-Bold';
    background-color: #7cc576; }
    @media (min-width: 768px) {
      .home__button {
        font-size: 1.5em; } }

.services {
  height: auto; }

@media (min-width: 768px) {
  .services-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; } }

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .services-item {
      width: 30%;
      margin-right: 20px; } }
  .services-item:last-child {
    margin-right: 0; }
  .services-item__title {
    font-family: 'Montserrat-Bold';
    font-size: 1.6em;
    margin: 15px 0; }
    @media (min-width: 768px) {
      .services-item__title {
        font-size: 1.7em; } }
  .services-item__text {
    font-size: 1.3em;
    margin: 0;
    padding: 0; }
    @media (min-width: 768px) {
      .services-item__text {
        font-size: 1.3em; } }

.offer .container {
  width: 60%; }

.offer {
  height: 650px;
  background: url("../img/bg_learn_more.jpg");
  background-size: cover;
  color: #CCCCCC; }
  @media (min-width: 992px) {
    .offer {
      background: none;
      height: 700px; } }
  .offer__title {
    color: #fff;
    text-align: left; }
  .offer__title-sign {
    padding-left: 10px;
    color: #7cc576; }
  .offer__subtitle {
    margin-right: 15%;
    text-align: left;
    font-size: 14px;
    color: #cccccc;
    margin-bottom: 10px; }
    @media (min-width: 768px) {
      .offer__subtitle {
        font-size: 1.5em; } }
    @media (min-width: 992px) {
      .offer__subtitle {
        font-size: 1.6em; } }

.offer-space {
  display: none; }
  @media (min-width: 992px) {
    .offer-space {
      background: url("../img/tool.png");
      background-repeat: no-repeat;
      background-position: right;
      position: absolute;
      display: block;
      width: 30%;
      background-color: #e9e9e9;
      height: 700px;
      z-index: -1; } }

.offer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (min-width: 992px) {
    .offer-main {
      background: url("../img/bg_learn_more.jpg");
      background-size: cover;
      width: 70%;
      float: right;
      height: 100%; } }
  .offer-main__btn {
    width: 160px;
    height: 60px;
    margin-top: 30px;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-family: 'Montserrat-Bold';
    background-color: #7cc576; }
    @media (min-width: 992px) {
      .offer-main__btn {
        font-size: 1.5em; } }

.offer-list {
  font-size: 1.4em;
  list-style: none;
  text-align: left;
  color: #cccccc;
  padding: 0; }
  @media (min-width: 768px) {
    .offer-list {
      font-size: 1.5em; } }
  @media (min-width: 992px) {
    .offer-list {
      font-size: 1.6em; } }
  .offer-list__element {
    height: 50px;
    line-height: 50px;
    width: 100%; }
  .offer-list__element:before {
    content: url("../img/check.png");
    position: relative;
    top: 10px;
    padding-right: 20px; }

@media (min-width: 768px) {
  .project {
    background: url("../img/bg_ipad.png") no-repeat top 280px right -100px;
    background-size: 500px 300px; } }

@media (min-width: 992px) {
  .project {
    background: url("../img/bg_ipad.png") no-repeat top 250px right -200px;
    background-size: 700px 500px; } }

@media (min-width: 1400px) {
  .project {
    background: url("../img/bg_ipad.png") no-repeat top 150px right -200px;
    background-size: 1000px 800px; } }

@media (min-width: 768px) {
  .project-main {
    width: 60%; } }

@media (min-width: 768px) {
  .project-main {
    width: 50%; } }

.project-main__title {
  font-size: 1.6em;
  text-align: left; }
  @media (min-width: 768px) {
    .project-main__title {
      font-size: 1.7em; } }

.project-main__subtitle {
  font-size: 1.4em;
  text-align: left; }
  @media (min-width: 768px) {
    .project-main__subtitle {
      font-size: 1.5em; } }

.project-main__link {
  text-decoration: none;
  color: #7cc576;
  font-family: 'RobotoSlab-Bold';
  font-size: 1.4em;
  margin-top: 40px;
  position: relative; }
  @media (min-width: 768px) {
    .project-main__link {
      /*margin-left: 100px;*/
      font-size: 1.5em; } }
  @media (min-width: 768px) {
    .project-main__link {
      /*margin-left: 100px;*/
      font-size: 1.6em; } }

.project-main__link::after {
  content: url(../img/Arrow.png);
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  right: -30px; }

.project-list {
  text-align: left; }
  @media (min-width: 768px) {
    .project-list {
      margin-top: 10px; } }

.project-item {
  display: flex;
  flex-direction: row;
  /*align-content: center;
	justify-content: center;*/
  /*margin-left: auto;
	margin-right: auto;*/
  margin-bottom: 30px;
  margin-top: 30px; }
  @media (min-width: 768px) {
    .project-item {
      margin-top: 10px; } }
  .project-item__icon {
    width: 60px;
    height: 60px; }
    @media (min-width: 768px) {
      .project-item__icon {
        width: 70px;
        height: 70px; } }
  .project-item__title {
    margin: 0;
    font-size: 1.6em;
    font-family: 'Montserrat-Bold';
    text-align: left; }
    @media (min-width: 768px) {
      .project-item__title {
        font-size: 1.7em; } }
  .project-item__subtitle {
    font-size: 1.4em;
    margin-top: 0px;
    text-align: left; }
    @media (min-width: 768px) {
      .project-item__subtitle {
        padding: 0;
        margin: 0;
        font-size: 1.5em;
        width: 100%; } }

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  width: 100%;
  height: 70px; }

.values {
  background-color: #f9f9f9; }

@media (min-width: 768px) {
  .values-main {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around; } }

.values-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  /*&:not(:last-child) &__img::before*/ }
  @media (min-width: 768px) {
    .values-item {
      position: relative;
      width: 25%; } }
  @media (min-width: 768px) {
    .values-item:not(:last-child):after {
      content: '';
      position: absolute;
      display: block;
      width: 60%;
      height: 3px;
      top: 17%;
      left: 85%;
      background-color: #777777;
      z-index: 5; } }
  .values-item__img {
    width: 70px;
    height: 70px; }
    @media (min-width: 768px) {
      .values-item__img {
        width: 80px;
        height: 80px; } }
  .values-item__title {
    font-size: 1.6em;
    padding-top: 10px; }
    @media (min-width: 768px) {
      .values-item__title {
        padding: 0;
        margin: 20px 0;
        font-size: 1.7em; } }
  .values-item__subtitle {
    margin: 0;
    padding: 10px 0;
    font-size: 1.3em; }
    @media (min-width: 768px) {
      .values-item__subtitle {
        font-size: 1.4em;
        padding: 0; } }

section {
  margin-bottom: 10px; }

.clients-main {
  display: flex;
  flex-direction: column; }

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .person:not(:last-child) {
    margin-bottom: 80px; }
  .person__img {
    object-fit: cover;
    width: 170px;
    height: 170px;
    border-radius: 50%; }
    @media (min-width: 768px) {
      .person__img {
        width: 200px;
        height: 200px; } }
  @media (min-width: 768px) {
    .person:nth-child(odd) {
      flex-direction: row; }
    .person:nth-child(even) {
      flex-direction: row-reverse; }
    .person:nth-child(odd) > .person-opinion:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 20px solid #f9f9f9;
      position: absolute;
      top: 50%;
      left: -15px; }
    .person:nth-child(even) > .person-opinion:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 20px solid #f9f9f9;
      position: absolute;
      top: 50%;
      left: auto;
      right: -45px; } }

.person-opinion {
  width: 90%;
  background-color: #f9f9f9;
  position: relative;
  padding: 15px;
  margin-top: 5%; }
  @media (min-width: 768px) {
    .person-opinion {
      width: 70%;
      height: 150px;
      margin: 0 30px;
      display: flex;
      flex-direction: column;
      justify-content: center; } }
  .person-opinion::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #f9f9f9;
    position: absolute;
    left: 50%;
    top: -5px;
    transform: translateX(-50%) translateY(-50%);
    /*@media (min-width:$sm){
			top: 50%;
			left: 0px;
		}*/ }
  .person-opinion__sentence {
    font-size: 1.6em;
    margin-bottom: 5px; }
    @media (min-width: 768px) {
      .person-opinion__sentence {
        font-size: 1.7em; } }
  .person-opinion__name {
    color: #7cc576;
    margin-bottom: 20px;
    font-size: 1.5em; }
    @media (min-width: 768px) {
      .person-opinion__name {
        font-size: 1.7em; } }

.contact {
  height: 300px; }

.contact .container {
  padding: 50px; }

.contact {
  background-color: #7cc576;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center; }
  .contact__title {
    color: #fff; }
  .contact__button {
    height: 45px;
    width: 150px;
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    background-color: transparent;
    font-size: 1.5em;
    border: 3px solid #fff;
    color: #fff;
    border-radius: 10px;
    margin-top: 20px; }
    .contact__button:hover {
      cursor: pointer;
      background-color: #222222; }
    @media (min-width: 768px) {
      .contact__button {
        height: 50px;
        width: 160px;
        font-size: 1.6em;
        margin-top: 30px; } }

.logos .container {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (min-width: 768px) {
    .logos .container {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: auto; } }

.logos {
  padding: 10px 0; }
  @media (min-width: 768px) {
    .logos:not(:last-child) {
      padding-right: 40px; } }
  .logos__image {
    margin: 20px 5px; }

.infos {
  background-color: #222222;
  width: 100%; }
  @media (min-width: 768px) {
    .infos {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; } }

@media (min-width: 768px) {
  .infos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    width: 85%; } }

.infos-block {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .infos-block {
      width: 30%;
      margin-bottom: 0; } }
  .infos-block__title {
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff; }
    @media (min-width: 768px) {
      .infos-block__title {
        font-size: 1.7em; } }

.infos-item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  .infos-item__text {
    width: 90%;
    color: #fff;
    font-size: 1.4em;
    text-align: left;
    margin: 0 20px; }
    @media (min-width: 768px) {
      .infos-item__text {
        font-size: 1.5em; } }
  .infos-item__icon {
    width: 20px;
    height: 100%; }

.tweet-time {
  font-size: 1.1em;
  padding: 0;
  margin: 0;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px; }

.infos-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: center;
  align-items: flex-start; }

.footer-container {
  padding: 15px 0; }
  @media (min-width: 768px) {
    .footer-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 30px 0; } }

.footer-block {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 768px) {
    .footer-block {
      font-size: 1.4em; } }

.social-link {
  width: 40px;
  height: 40px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px; }
