
section{
	margin-bottom: 10px;
}
.clients-main{
	display: flex;
	flex-direction: column;
	
	@media (min-width: $sm){

	}
}
.person{
	@include flex_col();	
	
	&:not(:last-child){
		margin-bottom: 80px;
	}
	
	
	&__img{
		object-fit: cover;
		width: 170px;
		height: 170px;
		border-radius: 50%;	
	
		@media (min-width: $sm){
			width: 200px;
			height: 200px;
		}
	}
	
	@media (min-width: $sm){
		
		&:nth-child(odd){
			flex-direction: row;
		}
		&:nth-child(even){
			flex-direction: row-reverse;
			}
		
		&:nth-child(odd) > .person-opinion:before{
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-top: 15px solid transparent;
			border-bottom: 15px solid transparent;
			border-right: 20px solid $light-grey;
			position: absolute;
			top: 50%;
			left: -15px;
		
		}
		
		&:nth-child(even) > .person-opinion:before{
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-top: 15px solid transparent;
			border-bottom: 15px solid transparent;
			border-left: 20px solid $light-grey;
			position: absolute;
			top: 50%;
			left: auto;
			right: -45px;
		}
	}
}



.person-opinion{
	width: 90%;
	background-color: $light-grey;
	//background-color: #605d5d;
	//margin-bottom: 30px;
	//margin-top: 15px;
	position: relative;
	padding: 15px;
	margin-top: 5%;
	
	@media (min-width:$sm){
		width: 70%;
		height: 150px;
		margin: 0 30px;
		display: flex;
		flex-direction: column;
	
		justify-content: center;
	}
	
	&::before{
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
  		border-right: 10px solid transparent;
		border-bottom: 15px solid $light-grey;
	//	border-bottom: 15px solid #605d5d;
		position: absolute;
		left: 50%;
		top: -5px;
		transform: translateX(-50%) translateY(-50%);
		
		/*@media (min-width:$sm){
			top: 50%;
			left: 0px;
		}*/
	}
	&__sentence{
		font-size: 1.6em;
		margin-bottom: 5px;
		
		@media (min-width: $sm){
			font-size: 1.7em;
		}
	
	}
	&__name{
		color: $light-green;
		margin-bottom: 20px;
		font-size: 1.5em;
		
		@media (min-width: $sm){
			font-size: 1.7em;
		}
		
	}
}