.contact{
	height: 200px;
	background-color: $light-green;
	color: #fff;
	padding-bottom: 50px;
	&__title{
		color: #fff;
	}
	&__button{
		height: 40px;
		width: 150px;
		background-color: transparent;
		font-size: 'Montserrat-Regular';
		border: 3px solid #fff;
		color: #fff;
		border-radius: 5px;
		margin-top: 20px;
		
		&:hover{
		cursor: pointer;
		background-color: #222222;
		}
		
		@media (min-width:$sm){
			margin-top: 40px;
		}
	}
	
}