.contact{
	background-color: $light-green;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	text-align: center;
	&__title{
		color: #fff;
	}
	&__button{
		height: 45px;
		width: 150px;
		font-family: 'Montserrat-Bold';
		text-transform: uppercase;
		background-color: transparent;
		font-size: 1.5em;
		border: 3px solid #fff;
		color: #fff;
		border-radius: 10px;
		margin-top: 20px;
	
		&:hover{
		cursor: pointer;
		background-color: #222222;
		}
		
		@media (min-width:$sm){
			height: 50px;
			width: 160px;
			font-size: 1.6em;
			margin-top: 30px;
		}
	}
	
}
