@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url("../../fonts/RobotoSlab-Regular.ttf");
}
@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url("../../fonts/RobotoSlab-Bold.ttf");
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../../fonts/Montserrat-Bold.ttf");
}
/*Montserrat-Bold.ttf*/

body{
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}
h1,h2,h3{
	color: #222222;
	text-align: center;
	text-transform: uppercase;
	padding: 0;
    margin: 0;
}
p{
	//font-size: 1.5em;
	font-family: 'RobotoSlab-Regular';
    text-align: center;
	color: $dark-grey;
}

.title{
	font-family: 'Montserrat-Bold', 'RobotoSlab-Bold';
	/*padding-top: 50px;*/
	font-size: 3.4em;
	
	@media (min-width: $sm){
		font-size: 3.7em; 
	}
	
	@media (min-width: $md){
		font-size: 4em; 
	}
	
}
.subtitle{
	font-size: 1.6em;
	margin-bottom: 70px;
	
	@media (min-width: $sm){
		font-size: 1.8em;
	}
	@media (min-width: $md){
		font-size: 2em;
	}
}

a:focus{
	outline: 2px solid blue;
}
.container{
	//background-color: pink;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 90%;
	//padding: 80px 30px 50px;
	padding-top: 80px;
	padding-bottom: 90px;
	
	padding-left: 30px;
	@media (min-width: $sm){
		width: 80%;
	}
	@media (min-width: $md){
		width: 65%;
	}
}
