.header{
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	background-color: #fff;
	height: 60px;
	width: 100%;
	top: 0;
	z-index: 99;
	
	@media (min-width: $md){
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
	} 
}
.logo{
	width: auto;
	margin: auto;
}

.nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 70%; 
}

.menu{	
	display: none;
	opacity: 0;

	
	@media (min-width: $md){
		opacity: 1;
		display: flex;
		color: #000;
		list-style: none;
		align-items: flex-start;
		width: 85%;
		height: auto;
		font-family: 'Montserrat-Bold';
		font-size: 1.2em;
		margin: 0;
		padding: 0;
	}
	 @media (min-width: $lg){
		width: 70%;
	}

	
	&__element{
		
		&:hover{
			cursor: pointer;
		}
		
		&-link{
			text-decoration: none;
			color: $dark-grey; 
		}
		
		@media (min-width: $md){
			font-size: 1.1em;
			color: #777777;
			width: 100%; 
			text-align: left;
		}
	}	
	
}
.menu-opened{
	background-color: #fff;
	list-style: none;
	position: absolute;
	height: 300px;
	width: 100%;
	text-align: center;
	font-size: 1.4em;
	top: 40px;8
	left: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-family: 'Montserrat-Bold';	
 	opacity: 1;
  	z-index: 99;
	animation: menu-open .3s ease-in-out;
}

.menu-button{
	position: absolute;
	margin: 0;
	padding: 0;
	right: 40px;
	vertical-align: middle;
	top: 12.5px;
	width: 40px;
	height: 35px;
	background-color: transparent;
	border: none;

	&:hover{
		
		cursor: pointer;
	}

	@media (min-width: $md){
		display: none;
	}

	&__line{
		display: block;
		position: absolute;
		width: 100%;
		height: 5px;
		border-radius: 3px;
		background-color: $dark-grey;
	}
	
	&__line:nth-child(1){
		top: 5px;
	}
	&__line:nth-child(2){
		top: 15px;
	}
	&__line:nth-child(3){
		top: 25px;
	}
}

@keyframes menu-open{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}




