.home {
  height: 100vh;
  background: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1; 
	
	@media (min-width: $md){
		height: 600px;
	}
	
 	 &__title {
		font-size: 4.5em;
		letter-spacing: 1.5px;
		padding: 0;
		margin: 0;
		color: #fff;
		text-align: center;
		
		 @media (min-width: $sm){
			 font-size: 5.5em;
			 width: 70%;
		 }
		 
	}
  	&__subtitle {
    	color: #fff; 
		@media (min-width: $sm){
			font-size: 1.8em;
		}
	}
	
 	 &__button {
		width: 200px;
		height: 60px;
		margin-top: 20px;
		border-radius: 30px;
		border: none;
		color: #fff;
		 font-size: 1.3em;
		font-family: 'Montserrat-Bold';
		background-color: #7cc576;
		 
		 @media (min-width: $sm){
			 font-size: 1.5em;
		 }
	}
}
