.offer{
	height: 600px;
	background: url('../img/bg_learn_more.jpg');
	background-size: cover;
	color: #CCCCCC;
	
	&__title{
		color: #fff;
	}
	&__title-sign{
		padding-left: 10px;
		color: $light-green;
	}
	&__subtitle{
		font-size: 14px;
		color: #cccccc;
		margin-bottom: 30px;
	}	
}
.offer .container{
	width: 70%;
}
.offer-space{
	display: none;
}
.offer-main{
	@include flex_col();
	&__btn{
		@include green_btn(160px);
		
	}
}

.offer-list{
	font-size: 1.4em;
	list-style: none;
	padding: 0;
	margin: 0;
	color: #cccccc;
	
	@media (min-width: $sm){
		font-size: 1.5em;
	}

	
	&__element{
		height: 50px;
		line-height: 50px;
	}
	&__element:before{
		content:url('../img/check.png'); /* with class ModalCarrot ??*/
  		position:relative; 
		top:10px;
		left: -10px;
	}
}