.project{
	padding: 0;
	margin: 0;

	@media (min-width: $sm){
		background: url('../img/bg_ipad.png') no-repeat top 280px right -100px;	
		background-size: 500px 300px;
	}
	@media (min-width: $md){
		background: url('../img/bg_ipad.png') no-repeat top 250px right -200px;	
		background-size: 700px 500px;
	}
	@media (min-width: 1400px){
		background: url('../img/bg_ipad.png') no-repeat top 170px right -200px;	
		background-size: 1000px 800px;
	}

}

.project-main{
	
	@media (min-width: $sm){
		width: 50%;
	}
	@media (min-width: $md){
		width: 60%;
	}
	@media (min-width: $lg){
		width: 50%;
	}

	
	&__title{
		font-size: 1.6em;
		text-align: left;
		@media (min-width: $sm){
			font-size: 1.7em;
		}
		@media (min-width: $md){
			font-size: 1.8em;
		}
		@media (min-width: $lg){
			font-size: 1.9em;
		}
	}
	&__subtitle{
		font-size: 1.4em;
		text-align: left;
		
		@media (min-width: $sm){
			font-size: 1.5em;
		}
		@media (min-width: $md){
			font-size: 1.6em;
		}
		@media (min-width: $lg){
			font-size: 1.7em;
		}
	}
	&__link{
		z-index: -1;
		text-decoration: none;
		color: $light-green;
		font-family: 'RobotoSlab-Bold';
		font-size: 1.4em;
		margin-top: 40px;
		position: relative;
		
		@media (min-width: $sm){
			font-size: 1.5em;
		}
			@media (min-width: $sm){
			font-size: 1.6em;
		}
		
			@media (min-width: $sm){
			font-size: 1.7em;
		}
	}
	&__link::after{
		content: url(../img/Arrow.png);
		position: absolute;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		right: -30px;
	}
}
.project-list{
	text-align: left;
	@media (min-width: $sm){
		margin-top: 10px;
	}
	
}
.project-item{
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
	margin-top: 30px;
	
	@media (min-width: $sm){
		margin-top: 10px;
	}
	
	&__icon{
		width: 60px;
		height: 60px;
		
		@media (min-width: $sm){
		width: 70px;
		height: 70px;
	}
	}
	&__title{
		margin: 0;
		font-size: 1.6em;
		font-family: 'Montserrat-Bold';
		text-align: left;
		@media (min-width: $sm){
			font-size: 1.5em;
		}
		@media (min-width: $md){
			font-size: 1.6em;
		}
		@media (min-width: $md){
			font-size: 1.7em;
		}
	}
	&__subtitle{
		font-size: 1.5em;
		margin-top: 0px;
		text-align: left;
		
		@media (min-width: $sm){
			font-size: 1.6em;
		}
		@media (min-width: $sm){
			font-size: 1.7em;
		}
		
		@media (min-width: $sm){
			padding: 0;
			margin: 0;
			font-size: 1.5em;
			width: 100%;
		}
	}
}
.text-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 10px;
	//margin: auto;
	width: 100%;
	height: 70px;
}