.services{
	padding-bottom: 30px;
	
}
.services-main{
	
	@media (min-width: $sm){
		display: flex;
		flex-direction: row;
		
	}
	
}
.services-item{
	@include flex_col();
	margin-bottom: 30px;
	
	
		
	&__title{
		font-size: 16px;
		margin: 5px 0;
	}
	&__text{
		font-size: 12px;
		margin: 0;
		padding: 0;
	}
}