.services{
	height: auto;
	
}
.services-main{
	
	@media (min-width: $sm){
		@include flex_row();
	}	
}
.services-item{
	@include flex_col();
	margin-bottom: 60px;
	
	@media (min-width: $sm){
		width: 30%;
		margin-right: 20px;
	}
	
	&:last-child{
		margin-right: 0;
	}
	
		
	&__title{
		font-family: 'Montserrat-Bold';
		font-size: 1.6em;
		margin: 15px 0;
		
		@media (min-width: $sm){
			font-size: 1.7em;
		}
		@media (min-width: $md){
			font-size: 1.8em;
		}
		@media (min-width: $lg){
			font-size: 2em;
		}
		
	}
	&__text{
		font-size: 1.3em;
		margin: 0;
		padding: 0;
		width: 80%;
		@media (min-width: $sm){
			font-size: 1.3em;
		}
		@media (min-width: $md){
			font-size: 1.4em;
		}
		@media (min-width: $sm){
			font-size: 1.5em;
		}
		
	}
}