.values{
	background-color: #f9f9f9;
	//background-color: #aca7a7;
}
.values-main{

	//background-color: mediumvioletred;
	@media (min-width: $sm){
		display: flex;
		flex-direction: row;
		margin-right: auto;
		margin-left: auto;
		justify-content: space-around;
	}
}
.values-item{
	@include flex_col();
	margin-bottom: 20px;
	
		@media (min-width: $sm){	
			position: relative;
			width: 25%;
		}
	
	&:not(:last-child):after{
		@media (min-width: $sm){
			content: '';
			position: absolute;
			display: block;
			width: 60%;
			height: 3px;
			top: 17%;
			left: 85%;
			background-color: #777777;
			z-index: 5;
		}
	}
	
	/*&:not(:last-child) &__img::before*/

	&__img{
		width: 70px;
		height: 70px;	
		
		@media (min-width: $sm){
			width: 80px;
			height: 80px;
		}
		
	}
	&__img:not(:last-child){
		
	}
	
	&__title{
		font-size: 1.6em;
		padding-top: 10px;	
		
		@media (min-width: $sm){
			padding: 0;
			margin: 20px 0;
			font-size: 1.7em;
		}
	}
	&__subtitle{
		margin: 0;
		padding: 10px 0;
		font-size: 1.3em;
		
		@media (min-width: $sm){
			font-size: 1.4em;
			padding: 0;
		}
	}
}